.brand {
  cursor: pointer;
  font-weight: 600;
  font-size: 1.1rem;
}

.nav-links {
  margin-left: 24px;
  display: flex;
  gap: 4px;
}

.spacer {
  flex: 1 1 auto;
}

.username {
  margin-right: 8px;
}
